@model StepCount.Models.Participant

@{
    ViewBag.Title = "ListLogEntries";
    ViewBag.TotalCount = @Model.LogEntries != null ? @Model.LogEntries.Sum(x => x.Steps) : 0;
}

<h3>List Log Entries</h3>

<p>
    @Html.ActionLink("Create New", "CreateLogEntry")
</p>

<div class="form-group team-name">
    @Html.Label(Model.Team.Name)  -  @Html.Label(Model.Name)
</div>
<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Steps
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.LogEntries) {
    <tr>
        <td>
            @{ string dateStr = item.LogDate.Value.ToString("d");}
            @Html.DisplayFor(modelItem => dateStr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Steps)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditLogEntry", new { id=item.Id }) |            
            @Html.ActionLink("Delete", "DeleteLogEntry", new { id = item.Id })
        </td>
    </tr>    
}
    
    <tr>
        <th>
            Total
        </th>
        <th>
            @ViewBag.TotalCount
        </th>
        <th></th>
    </tr>

</table>
